.bannerAbout {
  position: relative;
  font-style: normal;
  display: flex;
  align-items: center;

  margin-bottom: 32px;

  img {
    width: 100vw;
    height: 223px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: left center;
    object-position: left center;
    border-radius: 25px;
    background: black;
    mix-blend-mode: darken;
  }
}
