.error-page {
    color: #ff6060;
    text-align: center;
    h1 {
        font-size: 10rem;
        margin-bottom: 0.5em;
    }
    h2 {
        font-size: 26px;
    }
    a {
        color: #ff6060;
    }
}