.banner {
    position: relative;
    background-position: center;
    background-size: cover;
    padding-inline: 2rem;
    background-image: url(../assets/banner.png);
    height: 223px;
    margin: auto;
    border-radius: 25px;
    display: grid;
    place-items: center;
    color: white;
    margin-bottom: 2rem;
    max-width: 100%;
}

.banner::before {
    position: absolute;
    content: "";
    inset: 0;
    background: #000000;
    mix-blend-mode: darken;
    opacity: 0.3;
    border-radius: 25px;
}

.banner h2 {
    position: relative;
    color: #FFF;
	font-family: 'Montserrat';
	font-size: 48px;
	font-weight: 500;
}
@media (max-width: 970px) {
    .banner h2 {
        font-size: 1.5rem;

    }
}

@media (max-width: 768px) {
    .banner {
        margin-top: 0px;
        height: 111px;
    }
}

@media (max-width: 450px) {
    .banner h2 {
        font-size: 1rem;
    }

    .banner {
        height: 255px;
    }
}