.banner {
    position: relative;
    background-position: center;
    background-size: cover;
    padding-inline: 2rem;
    background-image: url(../assets/banner.png);
    height: 223px;
    margin: auto;
    border-radius: 25px;
    display: grid;
    place-items: center;
    color: white;
    margin-bottom: 2rem;
    max-width: 100%;
    font-family: 'Montserrat';
}

.banner::before {
    position: absolute;
    border-radius: 2rem;
    content: "";
    inset: 0;
    opacity: 0.5;
}