@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import 'abstract/variables';

.error-page {
    color: $primary-color;
    text-align: center;
    font-family: 'Montserrat';

    h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 288px;
        height: 263px;
        color: $primary-color;
        margin-bottom: 66px;
    }

    h2 {
        width: 100%;
        text-align: center;
        color: $primary-color;
        font-size: 36px;
        margin-bottom: 142px;
        font-style: normal;
        font-weight: 500;
    }

    a {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: $primary-color;
        margin: 42px;
        text-decoration: underline;
        list-style-type: none;
    }
}

@media screen and (max-width: 768px) {
    .main {
        min-height: 43vh;
    }
    .footer {
        margin: 0px 0px -12px;
    }
    .error-page {
        h1 {
            font-size: 96px;
            margin-bottom: 0px;
            margin-top: 207px;
            height: 100px;
        }

        h2 {
            font-size: 18px;
            margin-bottom: 133px;
        }

        a {
            font-size: 14px;
        }
    }
}