.housing_display {
  width: 100%;
  height: 340px;
  position: relative;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
}
.housing_img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: inherit;
  position: relative;
}
.housing_title {
  position: absolute;
  font-family: 'Montserrat';
  bottom: 0;
  font-size: 18px;
  font-weight: 500;
  margin: 15px 20px;
  color: #ffffff;
  box-sizing: inherit;
  z-index: 5;
}
.housing_display:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
  z-index: 2;
}
